<!DOCTYPE html>

<html>

   <head>
      <title>Request Header Parser Microservice</title>
      <link rel="shortcut icon" href="https://cdn.glitch.com/693b5cdc-07b6-44a9-87a2-95de1bd22c46%2Flowercase-j-512-269621.png?1556046497915" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>

      <div class="container">
        <h1>Request Header Parser Microservice</h1>
        <div>
          <p>
            This site provides an API to get the IP address, preferred languages, 
and system information for your device at the following endpoint: 
          <br>
          <a id="example" href="https://infrequent-match.glitch.me/api/whoami" target="_blank">
          <code>GET https://infrequent-match.glitch.me/api/whoami</code>
          </a>
          <br>
             Click the endpoint above to see the api in action.
          </p>
        </div>

        <h2>Example Output</h2>
        <p>
          <code>{"ipaddress":"159.20.14.100","language":"en-US,en;q=0.5",
"software":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"}</code>
        </p>
      </div>
      <div class="footer">
        <p>
          by <a id="creater" class="footer-link" href="https://jonnycomes.github.io/Portfolio/" target="_blank">Jonny Comes</a> | <a class="footer-link" href="https://github.com/jonnycomes/FCC-Apis-and-Microservices-Projects.git" target="_blank">source code</a>
        </p>
      </div>
   </body>

</html>
